/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

footer {margin: 40px auto; }


/* CUSTOMIZE THE BAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-brand {
  font-size: 32px;
  line-height: 32px;
 
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.tekst-statusa-prijave {
  margin-top: 14px;
  font-size: 16px;
  color: #eaeaea;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.hero1 {
  height: 350px;
}
/* Since positioning the image, we need to help out the caption */
.hero1-caption {
  z-index: 10;
  height: 350px;
  background-color: #777;
}


.main-description {
  text-shadow: 1px 2px 1px #111;
}

h1.main-description {

  font-size: 18px;

}

p.main-description {

  font-size: 14px;
  
}

/* Declare heights because of positioning of img element */
.hero1 .item {
  height: 350px;
  background-color: #777;
}
.hero1 img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 130%;
  height: 400px !important;
  z-index: 1;

}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette img {
  width: 300px;
  height: 300px;

}

.featurette-divider {
  margin: 20px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* bottom 
------------------------------ */
.bottom {
box-sizing: border-box;
color: rgb(90, 90, 90);
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 18px;
font-weight: normal;
height: 60px;
letter-spacing: -1px;
line-height: 23px;
margin-bottom: 10px;
margin-top: 50px;
text-align: center;
}

.blue {
  color: #6470a2;
  font-size: 22px;
  margin-top: 0;
  font-weight: 700;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  h1.main-description {

  font-size: 38px;

  }

  p.main-description {

    font-size: 26px !important;
    
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

  .hero1 {
  height: 600px;
}
/* Since positioning the image, we need to help out the caption */
.hero1-caption {
  z-index: 10;
  height: 600px;
  background-color: #777;
}

/* Declare heights because of positioning of img element */
.hero1 .item {
  height: 600px;
  background-color: #777;
}
.hero1 img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 120%;
  height: 750px !important;
  z-index: 1;

}

.featurette img {
  width: 400px;
  height: 400px;

}

.bottom {
box-sizing: border-box;
color: rgb(90, 90, 90);
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 24px;
font-weight: normal;
height: 30px;
letter-spacing: -1px;
line-height: 23px;
margin-bottom: 10px;
margin-top: 50px;
text-align: center;
}

.blue {
  color: #6470a2;
  font-size: 26px;
  margin-top: 0;
  font-weight: 700;
}



}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 100px;
  }

   .hero1 {
  height: 600px;
}
/* Since positioning the image, we need to help out the caption */
.hero1-caption {
  z-index: 10;
  height: 600px;
  background-color: #777;
}

/* Declare heights because of positioning of img element */
.hero1 .item {
  height: 600px;
  background-color: #777;
}
.hero1 img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 600px;
  z-index: 1;

}


}


/***+
Kontatk
-------------------------------------
*/
.from-top-200 {
  margin-top: 160px;
}

.from-top-50 {
  margin-top: 50px;
}

h1 {
  text-align: center;
}

.from-top-100 {
  margin-top: 100px;
}





/***+
Amdmin
-------------------------------------
*/
.users-list {
  margin: 10px;
  padding: 0;
}

.users-list li{
  padding: 5px;
  margin: 0;
}

.users-list li:nth-child(odd){
  background: #EEE;
}

.users-list li button{
  float: right;

}

.forma-admin-promjena label {
  width: 60px;
}



/* Ostalo */


.logo-font {
  font-family:Jaapokki;
}
