{% trans_default_domain 'FOSUserBundle' %}

<div class="row fos_user_user_show " >
	<div class="col-xs-12 col-sm-6 col-md-5 ">
		<p class=""> Dobrodošli <strong>{{ user.name }} {{ user.surname }}</strong></p>
	</div>	
	<div class="col-xs-12 col-sm-6 col-md-3 ">
		<p class="manji">{{ user.username }} <br> <strong> {{ user.email }} </strong> </p>
	</div>	
	<div class="col-xs-12 col-sm-6 col-md-2 ">
		<a role="button" class="btn btn-primary" href="#">Promjeni e-mail</a>
	</div>	
	<div class="col-xs-12 col-sm-6 col-md-2 ">
		<a role="button" class="btn btn-info" href="/resetting">Promjeni lozinku</a>
	</div>	

</div>
