{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
<hr></hr>

<div class="row row-eq-height mjesec-suma" >
	<div class="col-xs-12 col-sm-4 col-md-2 bottom-column">
		<p class="bottom-column"> <small>Mjesec:</small> <strong>11/2016</strong></strong></p>
	</div>	
	<div class="col-xs-12 col-sm-8 col-md-2 bottom-column">
		<p class="manji"><small>Odrađeno sati:</small> <strong> 80 </strong> </p>
	</div>	
	<div class="col-xs-12 col-sm-8 col-md-8 bottom-column vertical-middle">
		<nav aria-label="Page navigation" class="pagination float-right">
          <ul class="pagination inline-block">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#"><b>10</b> <small>/</small>2016</a></li>
            <li><a href="#"><b>9</b> <small>/</small>2016</a></li>
            <li><a href="#"><b>8</b> <small>/</small>2016</a></li>
            <li><a href="#"><b>7</b> <small>/</small>2016</a></li>
            <li><a href="#"><b>6</b> <small>/</small>2016</a></li>
            <li><a href="#"><b>5</b> <small>/</small>2016</a></li>
            <li><a href="#"><b>2</b> <small>/</small>2016</a></li>

            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
	</div>	
</div>

<hr></hr>



 <table class="table main-table">
              <thead>
                <tr>
                  <th>Datum</th>
                  <th>Dolazak </th>
                  <th>Odlazak</th>
                  <th>Odrađeno</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>

              {% for dan in evidencija %}
                  <tr data-toggle="collapse" data-target="#demo">
                      <td>{{ dan.datum|date("d/m/Y") }}</td>
                      <td>{{ dan.vrijeme_dolaska|date('H:i:s') }}</td>
                      <td>{{ dan.vrijeme_odlaska|date('H:i:s') }}</td>
                      <td>{{ dan.done_business_hours }}</td>
                      <td>
                        Više informacija <span class="glyphicon glyphicon-chevron-down"></span>
                      </td>
                    </tr>

                     <tr id="demo" class="collapse">
                        <td colspan="5">
                        dolazak: 8:00, pauza: 11:30, vraćanje sa pauze: 11:56, odlazak: 16:02
                        </td>
                     </tr>

              {% endfor %}


              </tbody>
 </table>
           

{% endblock fos_user_content %}
