{% trans_default_domain 'FOSUserBundle' %}

<div class="row fos_user_user_show " >
	<div class="col-xs-12 col-sm-6 col-md-5 ">
		<p class=""> Dobrodošli <strong>{{ user.name }} {{ user.surname }}</strong></p>
	</div>	
	<div class="col-xs-12 col-sm-6 col-md-3 ">
		<p class="manji">{{ user.username }} <br> <strong> {{ user.email }} </strong> </p>
	</div>	
	<div class="col-xs-12 col-sm-6 col-md-2 ">
		<button type="button" class="btn btn-primary">Promjeni e-mail</button>
	</div>	
	<div class="col-xs-12 col-sm-6 col-md-2 ">
		<button type="button" class="btn btn-warning">Promjeni lozinku</button>
	</div>	

</div>
