{% extends 'dashboard/dashboard-base.html.twig' %}


{% block maincontent %}


<h1 class="page-header">Kontrolna ploča</h1>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Zaposlenici</h3>
  </div>
  <div class="panel-body">
      <p class="lead">Odabereni zaposlenici: <b>Antun Konačević</b> </p>
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Mjesec</h3>
  </div>
  <div class="panel-body">
    <div class="row row-eq-height vertical-align">
      <div class="col-xs-3  ">
        <p class="lead no-margin ">Odabran mjesec: <b>11</b> <small>/2016</small> </p>
      </div>
      
      <div class="col-xs-9 "> 

        <nav aria-label="Page navigation" class="inline">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#"><b>10</b> <small>/</small>2016</a></li>
            <li><a href="#"><b>9</b> <small>/</small>2016</a></li>
            <li><a href="#"><b>8</b> <small>/</small>2016</a></li>
            <li><a href="#"><b>7</b> <small>/</small>2016</a></li>
            <li><a href="#"><b>6</b> <small>/</small>2016</a></li>
            <li><a href="#"><b>5</b> <small>/</small>2016</a></li>

            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>

      </div>  

    </div>
  </div>
</div>


            <table class="table table-striped tablica-prva">
              <thead>
                <tr>
                  <th>Datum</th>
                  <th>Dolazak </th>
                  <th>Odlazak</th>
                  <th>Odrađeno</th>
                  <th>Neprisustvo</th>
                  <th>Više informacija</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1.11.2016</td>
                  <td>7:56</td>
                  <td>16:10</td>
                  <td>8</td>
                  <td>
                    <!-- Small button group -->
                    <div class="btn-group">
                      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Odaberite razlog<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Bolovanje</a></li>
                        <li><a href="#">Štrajk</a></li>
                        <li><a href="#">Dr. dopust</a></li>
                        <li><a href="#">....</a></li>
                      </ul>
                    </div>
                  </td>
                  <td> 
                    <span class="glyphicon glyphicon-chevron-down"></span>
                  </td>
                </tr>

                <tr>
                  <td>1.11.2016</td>
                  <td>7:56</td>
                  <td>16:10</td>
                  <td>8</td>
                  <td>
                    <!-- Small button group -->
                    <div class="btn-group">
                      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Odaberite razlog<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Bolovanje</a></li>
                        <li><a href="#">Štrajk</a></li>
                        <li><a href="#">Dr. dopust</a></li>
                        <li><a href="#">....</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>2.11.2016</td>
                  <td>7:58</td>
                  <td>16:10</td>
                  <td>8</td>
                  <td>
                    <!-- Small button group -->
                    <div class="btn-group">
                      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Odaberite razlog<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Bolovanje</a></li>
                        <li><a href="#">Štrajk</a></li>
                        <li><a href="#">Dr. dopust</a></li>
                        <li><a href="#">....</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>3.11.2016</td>
                  <td>7:53</td>
                  <td>16:10</td>
                  <td>8</td>
                  <td>
                    <!-- Small button group -->
                    <div class="btn-group">
                      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Odaberite razlog<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Bolovanje</a></li>
                        <li><a href="#">Štrajk</a></li>
                        <li><a href="#">Dr. dopust</a></li>
                        <li><a href="#">....</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>4.11.2016</td>
                  <td>7:46</td>
                  <td>16:00</td>
                  <td>8</td>
                  <td>
                    <!-- Small button group -->
                    <div class="btn-group">
                      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Odaberite razlog<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Bolovanje</a></li>
                        <li><a href="#">Štrajk</a></li>
                        <li><a href="#">Dr. dopust</a></li>
                        <li><a href="#">....</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>5.11.2016</td>
                  <td>7:55</td>
                  <td>16:02</td>
                  <td>8</td>
                  <td>
                    <!-- Small button group -->
                    <div class="btn-group">
                      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Odaberite razlog<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Bolovanje</a></li>
                        <li><a href="#">Štrajk</a></li>
                        <li><a href="#">Dr. dopust</a></li>
                        <li><a href="#">....</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>6.11.2016</td>
                  <td>7:51</td>
                  <td>16:11</td>
                  <td>8</td>
                  <td>
                    <!-- Small button group -->
                    <div class="btn-group">
                      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Odaberite razlog<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Bolovanje</a></li>
                        <li><a href="#">Štrajk</a></li>
                        <li><a href="#">Dr. dopust</a></li>
                        <li><a href="#">....</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>  


{% endblock %}