{% extends 'dashboard/dashboard-base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}


{% block maincontent %}


<h1 class="page-header">Izvješće po danu</h1>

  <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"></h4>

      <form action="po_danu/detaljno" method="POST">
        <input type="date" name="datum">
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>


{% endblock %}